.tooltip {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(198, 198, 198, 0.5);
    border-radius: 10px 10px 10px 10px;
    color: #333333;
    font-size: 12px;
    left: 100px;
    opacity: 1;
    padding: 10px !important;
    position: absolute;
    top: 100px;
    z-index: 120;
    font: 10px monospace;
}
.tooltip p.main {
    font-size: 15px;
    text-align: left;
    padding:0px 5px;
    margin:0;
}
.tooltip .title {
    font-size: 20px;
    line-height: 24px;
}
.tooltip .name {
    font-weight:bold;
}